:root {
    --version: "1.0.7";
}


.bannerSVGWrapper-qc0szY mask {
    display: none;
}

.userPopout-2j1gM4 .wrapper-1VLyxH::before,
.avatar-3QF_VA::before {
    content: " ";
    font-size: 0px;
    background-color: var(--background-floating);
    float: left;
    border-radius: 50%;
    height: 94px;
    width: 94px;
    margin: -7px;
}

.userPopout-2j1gM4 [class^="avatarWrapper"] .wrapper-1VLyxH,
.avatarHint-k7pYop {
    top: 9px;
}
